# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

#minecraft
.mixin.out
config
crash-reports
logs
saves
.txt

# Files from Forge MDK
forge*changelog.txt